{% extends "layout.html" %}
{% block body %}


  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Airline ticket booking system</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#search">Book Flight</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#history">Reservation history page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#accountPage">My account page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#findBest">Find Best Seller</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href=" {{ url_for('logout') }}" style="color:red">Log out</a >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d9/B-18203_-_747-409_-_China_Airlines_-_BNE_%2812433607124%29.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Welcome to Airline ticket booking system.</h3>
              <p>Please select function</p>
            </div>

          </div>
        </div>
      </div>
    </header>

    <!-- Search Content -->
    <section class="py-5">

    <div class="container">
      <article id="search">
      <h1>Book Flight</h1>
      <div class="card-group">

        <div class="card">
          <img class="card-img-top" src="https://image.flaticon.com/icons/svg/761/761484.svg" alt="Card image cap" width="244" height="180">
          <div class="card-body">
              <article id="search2">
              <h4> One way </h4>
              <form method=POST action="{{ url_for('dashboardUser') }}">
                <div class="form-group">
                  <label for="exampleInputEmail1">From:</label>
                  <input type="text" class="form-control"  name="from"  placeholder="Taipei: TPE">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">To:</label>
                  <input type="text" class="form-control"  name="to"  placeholder="New York: JFK">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Departing:</label>
                  <input type="date" class="form-control"  name="depeartDate"  placeholder="1979-12-31">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Travelers:</label>
                  <input type="number" class="form-control" name="numberTravelers" min="1" max="10">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>

              </form>
              </article>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top" src="https://image.flaticon.com/icons/svg/761/761484.svg" alt="Card image cap" width="244" height="180">
          <div class="card-body">
              <article id="search2">
              <h4> Round Trip </h4>
              <form method=POST action="{{ url_for('dashboardUser_roundTrip') }}">
                <div class="form-group">
                  <label for="exampleInputEmail1">From:</label>
                  <input type="text" class="form-control"  name="from"  placeholder="Taipei: TPE">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">To:</label>
                  <input type="text" class="form-control"  name="to"  placeholder="New York: JFK">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Departing:</label>
                  <input type="date" class="form-control"  name="depeartDate"  placeholder="1979-12-31">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Returning:</label>
                  <input type="date" class="form-control"  name="returnDate"  placeholder="1979-12-31">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Travelers:</label>
                  <input type="number" class="form-control" name="numberTravelers" min="1" max="10">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>

              </form>
              </article>
          </div>
        </div>

    </section>


    <!-- account Page Content -->
    <section class="py-5">

    <div class="container">
      <article id="history">
      <h1>Reservation History</h1>
      <div class="card-group">

        <div class="card">
          <img class="card-img-top" src="https://image.flaticon.com/icons/svg/761/761484.svg" alt="Card image cap" width="244" height="180">
          <div class="card-body">
            <form method=POST action="{{ url_for('reservation_history') }}">
                        <button type="submit" class="btn btn-primary btn-block">Query All</button>
            </form>
            <form method=POST action="{{ url_for('reservation_history_just_one') }}">
              <br>
                <div class="form-group">
                  <label for="exampleInputEmail1">Reservation Number:</label>
                  <input type="number" class="form-control" name="queryReservationNumber">
                </div>
                        <button type="submit" class="btn btn-primary btn-block">Query By Reservation Number</button>
            </form>

            <br>
            <form method=POST action="{{ url_for('order_query_past') }}">
                        <button type="submit" class="btn btn-primary btn-block">Query Past Order</button>
            </form>
            <br>
            <form method=POST action="{{ url_for('order_query_future') }}">
                        <button type="submit" class="btn btn-primary btn-block">Query Future Order</button>
            </form>

          </div>
        </div>

    </section>

    <!-- account Page Content -->
    <section class="py-5">

    <div class="container">
      <article id="accountPage">
      <h1>Account Page</h1>
      <div class="card-group">

        <div class="card">
          <img class="card-img-top" src="https://image.flaticon.com/icons/svg/761/761484.svg" alt="Card image cap" width="244" height="180">
          <div class="card-body">
            <form method=POST action="{{ url_for('person_info') }}">
                  <div class="form-group">
                    <label>LastName</label>
                    <input type="text" class="form-control" name="LastName" placeholder="Join">
                  </div>

                  <div class="form-group">
                    <label>FirstName</label>
                    <input type="text" class="form-control" name="FirstName" placeholder="Smith">
                  </div>

                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="Address" placeholder="21 Queen Road">
                  </div>

                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="City" placeholder="New York">
                  </div>

                  <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="State" placeholder="NJ">
                  </div>

                  <div class="form-group">
                    <label>Zipcode</label>
                    <input type="text" class="form-control" name="Zipcode" placeholder="08817">
                  </div>

                  <div class="form-group">
                    <label>Telephone</label>
                    <input type="text" class="form-control" name="Telephone" placeholder="848-256-3778">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">email:</label>
                    <input type="email" class="form-control" name="Email" placeholder="">
                  </div>

                  <div class="form-group">
                    <label>Credit Number</label>
                    <input type="text" class="form-control" name="CreditNumber" placeholder="">
                  </div>

                  <div class="form-group">
                    <label>Preference</label>
                    <input type="text" class="form-control" name="Preference" placeholder="UA">
                  </div>

                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>

              <form method=POST action="{{ url_for('modifyPassword') }}">
                <div class="form-group">
                  <label for="exampleInputEmail1">Password:</label>
                  <input type="text" class="form-control"  name="newPassword"  placeholder="Enter New Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Modify Password</button>

              </form>
          </div>
        </div>

    </section>

    <section class="py-5">

    <div class="container">
      <article id="findBest">
      <h1>Search Best</h1>
      <div class="card-group">

        <div class="card">
          <img class="card-img-top" src="https://image.flaticon.com/icons/svg/761/761484.svg" alt="Card image cap" width="244" height="180">
          <div class="card-body">



            <form method=POST action="{{ url_for('find_best') }}">
              <div class="form-group">
                <label for="exampleInputEmail1">Show your date</label>
              <input type="date" class="form-control"  name="best_date"  placeholder="1979-12-31">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search Best Flight</button>
            </form>
            <form method=POST action="{{ url_for('find_least') }}">
              <div class="form-group">
                <label for="exampleInputEmail1">Show your date</label>
              <input type="date" class="form-control"  name="least_date"  placeholder="1979-12-31">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search Least Flight</button>
            </form>
          </div>
        </div>

    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>


{% endblock %}