{% extends "layout.html" %}
{% block body %}


  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Airline ticket booking system</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d9/B-18203_-_747-409_-_China_Airlines_-_BNE_%2812433607124%29.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Welcome to Airline ticket booking system.</h3>
              <p>Admin Mode</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Search Content -->
    <form method=POST action="{{ url_for('dashboardAdmin1') }}">
            <button type="submit" name = "b1">Customer Infomation</button>
            <!--<input name="func">Fuchion</input>-->
        </form>

    <form method=POST action="{{ url_for('dashboardAdmin2') }}">
        <button type="submit" name = "b2">Sales Report</button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin3') }}">
        <button type="submit" name = "b2">All flights</button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin4') }}">
        <button type="submit" name = "b2">List of reservations </button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin5') }}">
        <button type="submit" name = "b2">Summary listing of revenue </button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin6') }}">
        <button type="submit" name = "b2">Customer generated most total revenue
</button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin7') }}">
        <button type="submit" name = "b2">Most active flights </button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin8') }}">
        <button type="submit" name = "b2">Customer who have seats on given flight</button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin9') }}">
        <button type="submit" name = "b2">List of all flights for a given airport</button>
        <!--<input name="func">Fuchion</input>-->
    </form>

        <form method=POST action="{{ url_for('dashboardAdmin10') }}">
        <button type="submit" name = "b2">Ontime and delayed flights</button>
        <!--<input name="func">Fuchion</input>-->
    </form>





{% endblock %}